
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/**Custom Properties**/

:root{
    font-size: 62.5%;

    --img-cont-bg: #9754cb;
    --form-cont-bg: #ffffff;
    --btn-color: #ffffff;
    --btn-bg-color: #9754cb;
    --a-color: #9754cb;
    --letter-spacing: 0.3rem;
    --font-fam: 'Poppins', sans-serif;
}

/**Changing default styles for browser**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fam)
}


/**Form control styling**/
.container{
    display: grid;
    grid-template-columns: calc(100% - 60%) auto;
    height: 100vh;
    width: 100%;
}

#image-container{
    display: grid;
    place-items: center;
    background: var(--img-cont-bg);
    position: relative;
}

.company-name{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.6em 0 0 0.6em;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: var(--letter-spacing);
}

#image-container > img{
    width: 80%;
}

form{
    display: grid;
    place-items: center;
    background: var(--form-cont-bg);
}

#form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.5rem;
    width: 50vw;
    font-size: 1.5rem;
}

#form-header, #form-btm{
   /** grid-column-start: 1;
    grid-column-end: -1; **/
    grid-column: 1/-1;
    display: block;
}

#form-header{
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: var(--letter-spacing);
}

label{
    display: block;
    letter-spacing: var(--letter-spacing);
}

input{
    padding: 0.5em 2em;
    border-radius: 0.5rem;
}

[type="submit"]{
    font-size: 1.7rem;
    padding: 1em 4em;
    color: var(--btn-color);
    font-weight: bold;
    letter-spacing: var(--letter-spacing);
    background-color: var(--btn-bg-color);
    border-radius: 0.5rem;
    cursor: pointer;
}

#form-container > div > p{
    margin-top: 0.6em;
}

a{
    text-decoration: none;
    color: var(--a-color);
    font-weight: bold;
}








/**Media Queries**/